# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
IntelliJ IDEA
.idea/
*.iml

Build outputs
/out/
/target/
*.class

Logs
*.log

OS
.DS_Store
Thumbs.db

Environment & secrets
.env
*.properties

Other
*.jar
